*{
	outline:1px solid #222;
}
html{
	height: auto;
}
body{
	background: rgba(73,165,191,1);
background: -moz-linear-gradient(top, rgba(73,165,191,1) 0%, rgba(0,45,56,1) 66%, rgba(14,63,77,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,165,191,1)), color-stop(66%, rgba(0,45,56,1)), color-stop(100%, rgba(14,63,77,1)));
background: -webkit-linear-gradient(top, rgba(73,165,191,1) 0%, rgba(0,45,56,1) 66%, rgba(14,63,77,1) 100%);
background: -o-linear-gradient(top, rgba(73,165,191,1) 0%, rgba(0,45,56,1) 66%, rgba(14,63,77,1) 100%);
background: -ms-linear-gradient(top, rgba(73,165,191,1) 0%, rgba(0,45,56,1) 66%, rgba(14,63,77,1) 100%);
background: linear-gradient(to bottom, rgba(73,165,191,1) 0%, rgba(0,45,56,1) 66%, rgba(14,63,77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#0e3f4d', GradientType=0 );
}
div.head{
	position: fixed;
	top: 0;
	background-color: #69DA00;
	color: #FFF;
	width:960px;
	z-index: 9999;
	left: 50%;
	margin-left: -480px;
}
div#cabeza{
	margin: 0 auto;
	position: relative;
}
h1{
	font-size: 20px;
	color: #FFF;
	margin: 0;
}
.nav{
	text-align: center;
	margin-top: 12px;
}
.nav ul li{
	display: inline-block;
}
.nav ul a{
	color: #FFF;
	text-decoration: none;
	background-color: #65D100;
	display: block;
	padding: 15px;
	min-width:60px; 
}
p{
	padding: 20px 35px; 
}
h1,h2,h3,h4,h5{
	padding: 25px;
}	
.extendido{
	width: 100%;
	background-color: #30b9db;
}
div.cita img{
	margin: 15px;
	width: 200px;
}
div.container_12{
	position: relative;
	margin: 0 auto;
}
div.container_12 > div:not(.head){
	margin-top: 40px;
	margin-bottom: 40px;
}
div.video{
	background-color: #333;
}
div.descrip_video{
	background-color: #222;
	color: #DDD;
	position: relative;
	min-height: 480px;
}
div.descrip_video:after{
	content: "";
	z-index: 1000;
	position: absolute;
	top: 0;	
	left: 0;
	width: 0;
	height: 0;
	border-top: 240px solid transparent;
	border-left: 20px solid #333;
	border-bottom: 240px solid transparent;
}
/*Modifico la altura y el ancho para no retocar las imagenes, no tengo tiempo :P*/
.columna img{
	width: 300px;
	height: 250px;
	-webkit-filter: blur(2px) brightness(1.1) sepia(0.1);
	transition:all 0.3s 0.3s;
}
.columna:hover img{
	-webkit-filter: blur(0px) brightness(1) sepia(0);
}
.columna{
	background-color: #FAFAFA;
}