@import url("960_12_col.css")  (min-width: 960px);/*Esta linea incorpora el estilo de 960gs para resoluciones de 960+*/
/*El primer estilo es para resoluciones de 480px;*/
*{
	outline: 0px solid #222	;
		
}
body{
	min-height: auto;
	height: auto;
	background-color: #EEE;
}
div.section{
	background-color: #222;
}
div.head{
	background-color: #222;
	background-image: url("../img/fondo480.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: #FFF;
	min-height: 80px;
}
div.menu{
	background-color: rgba(20,150,220,0.5);
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-size: 1em;
	padding: 1.2em;
	line-height: 1;
	transform:rotate(90deg);
}
h1{
	padding: 1em;
	font-size: 1.3em;
}
h2,h3,h4{
	padding: 0.5em;
}
div.head ul li{
	text-align: center;
}
div.head a{
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 0.5em;	
}
nav{
	display: none;
	background-color: #2C73BA;
	margin-top: 1.5em;
}
p.caracteristica{
	font-size: 0.75em;
	padding: 0.5em;
}
div.imagen{
	display: none;
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 10px;
	height: 120px;
}
div.main{
	background-color: #222;
}
div.carrito{
	background-color: #222;
}
.boton{
	display: inline-block;
	padding: 0.2em 0.5em;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	transition:all 0.5s;
}
.producto{
	position: relative;
}
.producto ul{
	position: absolute;
	top: 0.2em;
	right: 0.2em;
}
.producto li{
	display: inline-block;
}
.breve{
	display: none;
}
p.inactivo{
	display: block;
	text-align: center;
	color: #666;
	padding: 2em;
}
div.producto h3{
	background-color: #2C73BA;
	color: #FFF;
}
div.footer{
	background-color: #EEE;
	min-height: 50px;
	color: #333;
	margin-bottom: 0;
}
div.caracteristica{
		margin-bottom: 1em;
		display: none;
	}
.selected{
		background-color: #222;
		color: #2C73BA;
	}

@media (min-width: 960px) {
	body{
		background-color: #EEE;
	}
	div.menu{
		display: none;
	}
	div.imagen{
		background:none;
		display: none;
	}
	div.head{
		background-image: url("../img/fondo960.jpg");
		min-height: 150px;
	}
	h1{
		font-size: 1.5em;
	}
	div.head nav{
		display: block;
		background-color: rgba(20,150,220,0.5);
		margin-top:0.5em;
	}
	div.head li{
		display: inline-block;
	}
	div.head a{
		padding: 1em;
	}
	div.principal{
		box-shadow: 0px 0px 10px #666;
		margin-top: 1em;
		min-height: 500px;
	}
	div.carrito{
		margin-top: 0.5em;
		border:dashed 1px #666;
	}
	div.producto{
		outline: 1px solid #2C73BA;
		margin-top: 2em;
		margin-bottom: 1em;
		padding-top: 0.5em;
		background-color: #333;
		color: #EEE;
	}
	div.producto h3{
		position: absolute;
		top: -1.5em;
		left: 3em;
		padding: 0.3em 4em;
	}
	div.imgprod{
		width: 80px;
		height: 80px;
		border: dashed 1px #666;
		margin: 0.5em;
		float: left;
	}
	div{
		position: relative;
	}
	.breve{
		display: block;
	}
	.producto ul{
		position: relative;
	}
	.producto li{
		display: block;
	}
	.boton{
	background-color: #222;
	display: inline-block;
	color: #666;
	}
	.selected{
		background-color: #222;
		color: #2C73BA;
	}
}	